<template>
    <b-container class="pt-5 mt-5">
        <h1>Date History</h1>
        <b-table :fields="fields" :items="dateHistory" responsive>
            <template v-slot:cell(index)="data">
                {{ data.index + 1 }}
            </template>

            <template v-slot:cell(formatdate)="data">
                {{ new Date(data.item.creationDate.substring(0,10)).toLocaleDateString() }}
            </template>

            <template v-slot:cell(hourminute)="data">
                {{ data.item.hour }}:{{ data.item.minute}}
            </template>
        </b-table>
    </b-container>
</template>

<script>
export default {
    data() {
        return {
            fields: [
                'index',
                {key: 'formatdate', label:'Creation Date'},
                {key: 'hourminute', label: 'Generated Time'}
            ],
            dateHistory: []
        }
    },
    created() {
        this.getDateHistoryList()
    },
    methods: {
        getDateHistoryList () {
            let self = this

            self.axios.get('http://localhost:3000/api/v1/clock')
                .then(function (response) {
                    if (response.status === 200) {
                        console.log(response.data.data)
                        self.dateHistory = response.data.data
                    }
                })
                .catch(function (error) {
                    console.log(error)
                })
        }
    }
}
</script>