<template>
    <div class="home">
        <clock :time="time"></clock>
    </div>
</template>

<script>
import Clock from 'vue-clock2'

export default {
    components: { Clock },
    data () {
        return {
            time: '10:30'
        }
    },
    created() {
        this.getTime()
    },
    methods: {
        getTime () {
            let self = this

            self.axios.get('http://localhost:3000/api/v1/clock/time')
                .then(function (response) {
                    if (response.status === 200) {
                        let tempTime = response.data.data.hour + ':' + response.data.data.minute
                        self.time = tempTime
                    }
                })
                .catch(function (error) {
                    console.log(error)
                    self.time = '12:00:00'
                })
        }
    }
}
</script>