<template>
    <sidebar-menu :menu="menu"
                  :collapsed="collapsed"/>
</template>

<script>
import { mapState } from 'vuex'

export default {
    data () {
        return {
            collapsed: true
        }
    },
    computed: {
        ...mapState([
            'menu'
        ])
    }
}
</script>